<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verktøykassa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Hjem</a>
        <a href="/hund">Hundekalkulator</a>
        <a href="/sok">Spillsøk</a>
        <a href="/login">VIP login</a>
    </nav>

    <h1>Verktøykassen 🛠️🪛🔨</h1>
    <p>Velkommen til verktøykasse! Velg et verktøy 🧖🦵🪣</p>

</body>
</html>